* {
    box-sizing: border-box;
  
    
}
html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    cursor: pointer;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
 [class*="col-"]{ 
    float: left;
    padding: 15px;
} 
.header {
    background-color: #993cc9;
    color: #ffff;
    padding: 15px;
}
.header:hover{
    background-color:#bb85d6;
    cursor: alias;
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li{
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover{
    background-color: #009ccc;
}
.aside{
    background-color: #33b5e5;
    padding: 15px;
    color: #ffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.footer{
    background-color: #009ccc;
    color: #ffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    margin-top: 0cm;
    padding-bottom: 3cm;
}
/* for mobile  */
 [class*="col-"]{
    width:100%
} 
/* for desktop */
 
@media only screen and (min-width:769px){ 
    
    .col-1 {width: 25%;}
    .col-2{ width: 50%;}    }